:root {
	font-size: 16px;
	font-family: 'Open Sans';
	background-color: #F2E6DC;
}

header{
	height: 100px;
	width: 100%;
	left:0;
	top:0;
	margin-bottom: 24px;

}
header img{
	height: 100%;
	margin-left: auto;
  margin-right: auto;
	display: block;
}
.btn-row{
	margin-right: 20px;
}
.btn-row button {
  background-color: #40B5C7;
	border: 1px solid #F2E6DC;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  float: right;
	width: 200px;
	height: 100px;
	font-size: 24px;

}
.btn-row .box{
	background-color: #40B5C7;
	width: 398px;
	height: 100px;
	font-size: 24px;
	text-align: center;
	color: white;
	border: 1px solid #F2E6DC;

	line-height: 50px;
	float: right;
}

.btn-row:after {
  content: "";
  clear: both;
  display: table;
}


.btn-row button:hover {
  background-color: #575E6B;
}
.half{
	width: 50%;
	float:left;

}

#sudoku{
	margin-left: 20px;
}

#loesbar{
}

#loesbarAnzeige{
	background-color: #40B5C7;
}

#zeit{
    margin-left: 44rem;
}
#zeitAnzeige{
    height:50px;
    width:50px;
    margin-left: 1rem;
}

#outputs{
   display:flex;
}
tbody{
	float:left;
}
.highlight{
	background: #40B5C7;
	border: 0;
	color: #F2E6DC;
}

input {
	padding: 0;
	margin: 0;
	text-align: center;
	color: #40B5C7;
	background-color: #F2E6DC;
	border: 1px solid #40B5C7;
	height: 39px;
	width: 39px;
}

input:hover {
	background: #575E6B;
	color: #F2E6DC;
	border: 0;
}

/* Keine Pfeile beim input*/
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

  /* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@media only screen and (max-width:856px){
	.half{
		width: 100%;
	}
	.btn-row{
		margin-right: 10%;
		margin-left: 10%;
	}
	.btn-row button {
		width: 50%;
	}
	.btn-row .box{
		width: 100%;
	}
	#sudoku{
		float: none;
		margin: auto;
	}
}
